/* margin-top: 30px;
margin-bottom: 30px;
margin-left: 30px;
margin-right: 30px; */

p {
  margin: 30px 15px;
  padding: 20px 9px 19px 3px;
  background-color: #00ffff;
  border: 20px solid #ff0000;
}

h1 {
  border: 20px solid;
  border-color: #ffff00 #00ffff #00ff00 #0000ff;
}
